.NavBar.active {
    background-color: var(--color-black);
    transition: var(--transition);
}

/* Navbar Second  */
/* Responsive-Menu  */
.NavBar-second .Responsive-Menu{
    position: absolute;
    top: calc(100% + 32px);
    left: 0;
    /* border: 1px solid; */
    /* height: 100%; */
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
    max-height: 0;
    transition:var(--transition);
    overflow: hidden;
}

.NavBar-second .Responsive-Menu.active{
    max-height: 310px;
    padding-block: 2rem;
}