.NavBar.active {
    background-color: var(--color-black);
    transition: var(--transition);
}

@media screen and (max-width:640px) {
    .NavBar .Menu-bar {
        order: 1;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        margin-top: 0;
        transition: var(--transition);
        overflow: hidden;
    }

    .NavBar .Menu-bar .contact-btn {
        padding: 0.5rem 1rem;
    }

    .NavBar .Menu-bar.active {
        max-height: 150px;
        margin-top: 1rem;
    }
}

/* .NavBar {
    backdrop-filter: blur(10px);
} */

/* HEADER SECOND  */
.NavBar-second {}

@media screen and (max-width:991px){
    .NavBar-second  .Menu-bar{
        order: 1;
        flex-direction: column;
        /* border: 2px solid; */
        background-color: var(--color-black);
        color: var(--color-white);
        width: 100%;
        position: absolute;
        left: 0;
        top: calc(100% + 25px);
        transition: var(--transition);
        max-height: 0;
        overflow: hidden;
    }

    .NavBar-second .Menu-bar.active{
        max-height: 380px;
        padding-block: 2.5rem;
    }
}